@model reader2reader.Models.Book

@{
    ViewBag.Title = "Eliminar";
}

<div class="container">
    <p>
        @Html.ActionLink("Regresar", "Index")
    </p>

    <h2>@ViewBag.Title</h2>

    <h3>¿Estás seguro que deseas eliminar tu publicación?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Author)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Author)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Genre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Genre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImageURL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImageURL)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Aceptar" class="btn btn-default" /> |
                @Html.ActionLink("Cancelar", "Index")
            </div>
        }
    </div>
</div>